@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">David Blissett Test</h1>
</div> 

<h2>Customer List</h2>

<p>
    <a class="btn btn-primary" asp-page="/Customers/Create">Add New Customer</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Post Code</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.PostCode</td>
                <td>
                    <a asp-page="/Customers/Select" asp-route-id="@customer.CustomerID">Select</a> |
                    <a asp-page="/Customers/Edit" asp-route-id="@customer.CustomerID">Edit</a> |
                    <a asp-page="/Customers/Delete" asp-route-id="@customer.CustomerID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
