@page "{id:int}"
@model DavidBlissett.Test.App.Pages.Customers.SelectModel
@{
    ViewData["Title"] = "View Customer";
}

<h2>Customer Details</h2>

<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">First Name</dt>
            <dd class="col-sm-9">@Model.Customer.FirstName</dd>

            <dt class="col-sm-3">Last Name</dt>
            <dd class="col-sm-9">@Model.Customer.LastName</dd>

            <dt class="col-sm-3">Address 1</dt>
            <dd class="col-sm-9">@Model.Customer.Address1</dd>

            <dt class="col-sm-3">Address 2</dt>
            <dd class="col-sm-9">@Model.Customer.Address2</dd>

            <dt class="col-sm-3">Post Code</dt>
            <dd class="col-sm-9">@Model.Customer.PostCode</dd>

            <dt class="col-sm-3">Telephone Number</dt>
            <dd class="col-sm-9">@Model.Customer.TelephoneNumber</dd>
        </dl>

        <a asp-page="Edit" asp-route-id="@Model.Customer.CustomerID" class="btn btn-primary">Edit</a>
        <a asp-page="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
